@import "assets/nav";
@import "assets/footer";
@import "assets/themes";

body {
  min-height: 100vh;
  background: var(--clr-body-bg);
  margin: 0 0 0 0;
  display: grid;
  grid-template-rows: 5rem 1fr 0.5fr 3rem;
  font-family: "Playfair Display";
}

#home-link {
  text-shadow: 1px 1px 2px var(--clr-text);
}

#about-me {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);

  #picture {
    grid-area: 2 / 2 / 5 / 4;
    background-image: url("../images/FBD_profile_pic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: var(--clr-box-shadow) -1rem 1rem;
    border-radius: 1rem;
    z-index: 2;
  }

  #card {
    grid-area: 2 / 3 / 5 / 12;

    border: 1px solid var(--clr-border);
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: var(--clr-box-shadow) -1rem 1rem;
  }

  #card-text {
    grid-area: 2 / 4 / 5 / 12;
    margin: 1rem 2rem 1rem 1rem;

    h1 {
      color: var(--clr-text);
      font: bolder 2rem "Playfair Display";
    }

    p {
      text-align: justify;
      color: var(--clr-text);
      font-size: larger;
    }
  }
}

#tech-stack {
}
